/*公用样式的定义*/
body{color:#666;font-family:"Helvetica Neue",Arial,"Hiragino Sans GB",STHeiti,"Microsoft YaHei";margin:0;-webkit-overflow-scrolling:touch;padding:0;-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:none;-webkit-transition:-webkit-transform .2s cubic-bezier(.4,.01,.165,.99);transition:transform .2s cubic-bezier(.4,.01,.165,.99),-webkit-transform .2s cubic-bezier(.4,.01,.165,.99)}
body,html{height:100%;width:100%;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0}
a,a:hover{color:#2479CC;text-decoration:none}
//*{-webkit-box-sizing:border-box;box-sizing:border-box}
ul,ol{padding:0;margin: 0;}

/* 字体 */
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1473820850_0782483.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1473820850_0782483.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1473820850_0782483.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1473820850_0782483.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1473820850_0782483.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.icon{font-family:"iconfont" !important; font-size:1.6rem; font-style:normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
.icon-home:before{content:'\e601'}
.icon-list:before{content:'\e605'}
.icon-tag:before{content:'\e608'}
.icon-user:before{content:'\e607'}
.icon-link:before{content:'\e606'}


/* function */
.clearfix{*zoom: 1;}
.clearfix:before, .clearfix:after{display: table;line-height: 0;content: "";}
.clearfix:after{clear: both;}
